.cart {
  max-width: 1080px;
  margin: var(--header-height) auto;
  padding: 0 20px;
  min-height: calc(100vh - 3 * var(--header-height));
}

.cart__table {
  width: 100%;
  border-collapse: collapse;
}

.cart__table th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: var(--orange);
  font-weight: normal;
}

.cart__table td {
  padding: 10px 5px;
}

.cart__table td input {
  width: 40px;
  height: 30px;
  padding: 5px;
  outline: none;
}

.cart__removeProduct {
  color: var(--orange);
  font-size: 12px;
  cursor: pointer;
}

.cart__table td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
}

.cart__productInfo {
  display: flex;
  flex-wrap: wrap;
}

.cart__total {
  display: flex;
  justify-content: flex-end;
}

th:last-child,
td:last-child {
  text-align: right !important;
}

.cart .linkButton {
  margin-left: auto;
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  .cart__productInfo p {
    display: none;
  }
}
