.linkButton {
  display: block;
  background-color: #ff523b;
  color: white;
  padding: 8px 30px;
  border-radius: 30px;
  width: fit-content;
  transition: background-color 0.4s;
}

.linkButton:hover {
  background-color: #563434;
}
