.offer {
  background: var(--landing-gradient);
  padding: 30px 20px;
  margin-top: 80px;
}

/* small container + row */
.offer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1080px;
  padding-left: 25px;
  padding-right: 25px;
}

/* col2 */
.offer__col {
  flex-basis: 50%;
  min-width: 300px;
}

.offer__col h1 {
  font-size: 50px;
  line-height: 62px;
}

.offer__img {
  max-width: 100%;
  padding: 70px 20px;
}

.offer__btn {
  margin-top: 30px;
}

.offer small {
  color: #555;
}

@media only screen and (max-width: 800px) {
  .offer__col {
    flex-basis: 100%;
    text-align: center;
  }
  .offer__img {
    padding: 70px 70px;
  }
  .offer__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
