.productCard {
  padding: 10px;
  min-width: 200px;
  height: 420px;
  width: 257px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  color: inherit;
}
/* 258x342 */

.productCard img {
  width: 100%;
  height: 315px;
  object-fit: cover;
}

.productCard h4 {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* font-size: 18px; */
}

.productCard p {
  font-size: 14px;
}

.productCard:hover {
  transform: translateY(-5px);
}

@media only screen and (max-width: 800px) {
  .productCard {
    width: 267px;
    height: 434px;
  }
  .productCard img {
    height: 330px;
  }
}

@media only screen and (max-width: 600px) {
  .productCard {
    flex-basis: 100%;
    text-align: center;
    height: auto;
  }
  .productCard img {
    height: auto;
  }
}
