:root {
  --header-height: 90px;
  --header-inner-height: 50px;
}

.header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 99;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.header-background {
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  height: var(--header-inner-height);
  padding: 0 45px;
  margin-left: auto;
  margin-right: auto;
}

.header__logoLink,
.header__logo {
  height: 100%;
}

.header__inner > nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header__navLink {
  display: block;
  margin-right: 20px;
  color: #555;
  cursor: pointer;
}

.header__navLink-active {
  position: relative;
  font-weight: bold;
}

.header__icons {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.header .MuiBadge-badge {
  right: -3px !important;
  top: 9px !important;
  padding: 0 4px !important;
  border: 2px solid transparent;
}

.header-background .MuiBadge-badge {
  border-color: white;
}

.header__cartIcon {
  width: 25px;
  height: 25px;
}

.header__cartIcon path {
  fill: #000;
}

.header__menuButton {
  display: none !important;
}

@media only screen and (max-width: 800px) {
  .header__inner {
    padding: 0 30px;
  }
  .header nav {
    position: absolute;
    top: 90px;
    left: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
    color: white;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    max-height: 0;
    height: fit-content;
    transition: all 0.3s;
  }

  .header nav.header__nav-open {
    max-height: 500px;
    padding: 10px 0;
  }

  .header__navLink {
    color: #fff;
    margin: 10px 60px 10px 0;
    width: fit-content;
  }

  .header__cartIconLink {
  }

  .header__menuButton {
    display: block !important;
  }
}
