.login {
  min-height: 100vh;
  margin-top: calc(var(--header-height) * -1);
  padding-top: calc(var(--header-height) + 30px);
  padding-bottom: var(--header-height);
  background: var(--landing-gradient);
  display: grid;
  place-items: center;
}

.login__loginForm {
  background: white;
  width: 400px;
  max-width: 100%;
  min-height: 500px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  height: 60px;
  margin-bottom: 30px;
}

.login__loginForm h3 {
  font-weight: normal;
  color: #555;
  margin-bottom: 20px;
}

.login__inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.login__input {
  outline: none !important;
  margin: 15px 0 !important;
}

.login__input .MuiInputLabel-asterisk {
  display: none;
}

.login .customButton {
  font-size: 16px;
}

.login__or {
  position: relative;
  font-size: 12px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.login__or::before,
.login__or::after {
  position: absolute;
  width: calc(50% - 20px);
  height: 1px;

  top: 24px;

  background-color: #aaa;

  content: '';
}

.login__or::before {
  left: 0;
}

.login__or::after {
  right: 0;
}

.login__socialButtons {
  display: flex;
  justify-content: center;
}

.login__switchPrompt {
  margin-top: 35px;
  font-size: 13px;
}

.login__switchPrompt a {
  color: var(--primary);
}

.login__switchPrompt a:hover {
  text-decoration: underline;
}

.login__error {
  color: var(--error-color) !important;
  background: var(--error-bg);
  border: 1px solid var(--error-color);
  margin-bottom: 15px !important;
  padding: 5px;
}
