.orderTotals {
  border-collapse: collapse;
  width: 100%;
  max-width: 380px;
  border-top: 2px solid var(--primary);
}

.orderTotals th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: var(--primary);
  font-weight: normal;
}

.orderTotals td {
  padding: 10px 5px;
}
